package-lock=true
lockfile-version=3
loglevel=error
min-release-age=7
strict-allow-scripts=true
allow-git=none
allow-remote=none
allow-file=root
allow-directory=root
audit=true
save-exact=true
registry=https://registry.npmjs.org/
